// Fonts and Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~jquery-ui/themes/base/all.css";

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a:hover {
    text-decoration: none;
}
.login--bg {
    background: -o-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
}
.h--100vh {
    height: 100vh;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.col--leftMain {
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.col--rightMain {
    width: calc(100% - 250px);
    -webkit-box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
        rgb(0 0 0 / 30%) 0px 1px 3px -1px;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
        rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

.menu__main li {
    border-radius: 0 !important;
}

.menu__main .list-group-item.active a {
    color: #fff;
}

.menu__main .list-group-item a {
    color: #333;
}
.menu__main--title {
    font-weight: 700;
    font-size: 120%;
}
.userCurrent img {
    height: 25px;
    width: 25px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.userCurrent b {
    font-size: 11px;
}
.category__title {
    height: 25px;
}
.list-group-item {
    border: none;
}
.crossbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-bottom: 1px solid #dede;
    height: 25px;
    padding-right: 10px;
}
#collapseAccount {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
}
.userCurrent {
    width: 150px;
}

div#collapseAccount > ul {
    padding: 5px;
    -webkit-box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
div#collapseAccount > ul > li > a {
    text-align: right;
    display: block;
    color: #333;
}
.home__wrapper {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-filter: drop-shadow(2px 4px 2px black);
    filter: drop-shadow(2px 4px 2px black);
}
#collapseAccount {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}
.w--100vw {
    width: 100vw;
}
.account__avatar img {
    height: 85px;
    width: 85px;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.account__avatar {
    margin: 5px;
}
.account__attribute {
    padding: 5px 10px;
}
.list-group-child {
    margin-left: 5px;
}
.item__thumbnail {
    height: 150px;
    width: 150px;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}
.menu__main > li:first-child {
    height: 50px;
    border-bottom: 1px solid #dedede;
}
.items__thumbnail {
    height: 100px;
    width: 100px;
    -o-object-fit: fill;
    object-fit: fill;
}
.customer__popup--create {
    position: absolute;
    z-index: 11;
    background-color: #fff;
    width: auto;
    -webkit-box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px,
        rgb(27 31 35 / 15%) 0px 0px 0px 1px;
    box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px,
        rgb(27 31 35 / 15%) 0px 0px 0px 1px;
}
.status-success {
    color: $green;
}
.status-wait {
    color: rgb(206, 206, 106);
}
.status-cancel {
    color: $orange;
}
.status-fail {
    color: $red;
}
@media screen and (max-width: 991px) {
    .col--leftMain {
        position: fixed;
        z-index: 12;
        height: 100%;
        left: 0;
        right: auto;
        top: 0;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        pointer-events: none;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
    #body.active .col--leftMain {
        left: 0;
        pointer-events: all;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    .col--rightMain {
        width: 100%;
    }
    .menu__main {
        height: 100%;
        background: #fff;
    }
    .crossbar {
        height: 35px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .close__menu {
        position: absolute;
        left: 100%;
        top: 0;
        border: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .category__row--mobile {
        flex-direction: column;
        border: 1px solid #dedede;
    }
    #body.active .col--rightMain {
        pointer-events: none;
        position: relative;
    }
    #body .col--rightMain:after{
        content: "";
        transition:  all 1s;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        left: 0;
        right: auto;
        z-index: 1;
        position: absolute;
        top: 0;
        opacity: 0;
        pointer-events: none;
    }
    #body.active .col--rightMain:after {

        opacity: 1;
        pointer-events: all;
    }
    div#body.active {
        position: fixed;
        overflow: hidden;
        width: 100%;
    }
    .category__title{
        height: auto;
    }
}
